.container {}

.header {
    height: 100px;
    background-color: rgb(26, 148, 255);
}

.header__info {
    width: 1200px;
    margin: auto auto;
}

.header__info-search {
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__info-link {
    cursor: pointer;
}

.header__info-control {
    background-color: #fff;
    width: 60%;
    border-radius: 4px;
    overflow: hidden;
    padding: 2px;
}

.header__info-enter {
    display: flex;
    align-items: center;
}

.header__info-control {
    display: flex;
    align-items: center;
}

.header__info-control input {
    width: 80%;
    height: 30px;
    outline: none;
    border: none;
    padding-left: 12px;
}

.header__info-control button {
    background-color: #0d5cb6;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    height: 34px;
    width: 18%;
}

.header__info-enter img {
    margin-right: 12px;
}

.header__authen {
    display: flex;
}

.header__authen img {
    cursor: pointer;
}

.header__account {
    display: flex;
    align-items: center;
}

.header__authen-account {
    margin: 0 12px;
}

.header__authen-login span {
    color: #fff;
}

.header__authen-link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.header__market {
    display: flex;
}

.header__market-link {
    text-decoration: none;
    color: #fff;

}

.header__market-quantity {
    position: relative;
}

.header__market-quantity span {
    width: 24px;
    height: 24px;
    display: block;
    background-color: rgb(253, 216, 53);
    border-radius: 50%;
    text-align: center;
    font-weight: 400;
    position: absolute;
    top: -6px;
    right: -8px;
}

.header__market-redirect {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 4px;
    padding: 0;
    margin: 0;
}

.header__info-category {
    display: flex;
    align-items: center;
    color: #fff;
    height: 34px;
}

.header__category {
    width: 80%;
}

.header__category-list {
    display: flex;
    list-style: none;
}

.header__category-item {
    margin: 0 6px;
}

.header__category-link {
    text-decoration: none;
    color: #fff;
}

.header__category-sell {
    color: white;
    font-size: 12px;
    margin-bottom: 12px;
    height: 22px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0px 8px;
    display: flex;
    align-items: center;
}